@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend&display=swap'); */
@font-face{
    font-family : 'Inter';
    src: url(../public/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-style: normal;
}
@font-face{
  font-family : 'Cooperative';
  src: url(../public//cooperative/Hafontia\ -\ Cooperative\ Regular.otf);
  font-style: normal;
}
@font-face{
  font-family : 'Assistant';
  src: url(../public/Assistant/Assistant-VariableFont_wght.ttf);
  font-style: normal;
}


#heading1{
  font-family: 'Inter';
  /* font-family: 'Lexend'; */
  font-weight: 700;
}



@media (min-width:1280px){
  #poster-img{
    background-image: url(../public//images/poster.webp);
    background-repeat: no-repeat;
      background-size: cover;
      /* background-size: 100%; */
      background-position: top center;
     
  }
}
@media (max-width:1280px){
  #poster-img{
    background-image: url(../public//images/poster.webp);
    background-repeat: no-repeat;
      background-size: cover;
      background-size: 100%;
      background-position: top center;
     
  }
}
@media (max-width:1024px){
  #hidden{
    display: none;
  }
}

@media (max-width:1023px){
  #div4{
    background-color: #180B04;
    background-size: 0px !important;

  }
}
@media (max-width:1023px){
  #div3{
    background-color: #641C0B;
    background-size: 0px !important;
  }
}
@media (max-width:1024px){
.bottm-input ::placeholder{
  font-size: 3px !important; 
}
}


.nav-input ::placeholder{
  color: #878787;
  /* font-size: 10px; */
}

#head1{
  background: linear-gradient(267deg, #C1B505 15.48%, #BE4E28 100.83%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Cooperative';
  font-weight: 400;
}
#head2{
  font-family: 'Cooperative';
  font-weight: 400;
}
#para2{
  font-family: 'Cooperative';
  font-weight: 700;
}
#pera{
  font-family: 'Assistant';
  font-weight: 300;
}
#pera3{
  font-family: 'Assistant';
  font-weight: 600;
}
#pera4{
  font-family: 'Assistant';
  font-weight: 700;
}
#button{
  font-family: 'Assistant';
  font-weight: 700;
}
#imgbg{
  background-image: url(../public//images/img-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: bottom;
  padding-bottom: 15px;
}
#div3{
  background-image: url(../public//images/div3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: right; 
  padding-bottom: 20px;
 
}
#div4{
  background-image: url(../public//images/div4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: bottom;
  padding-bottom: 0px;
 
}

.bottm-input::placeholder{
  font-size: 16px;
  line-height: 26px;
  font-family: 'Assistant';
  font-weight: 300;
}









img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}





.zoom-in-out-box {
  margin: 24px;
  width: 50px;
  height: 50px;
 
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}



.starroted{
  margin: auto;
  width: 200px;
  height: 100px;
  color: white;
  animation: mymove 20s infinite;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}





#w3rcontainer{
  border: 1px solid #cccfdb;
  border-radius: 1px;
} 
#hover-underline-animation {
  display: inline-block;
  position: relative;
}

#hover-underline-animation:after {
  content: '';
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out, width 0.25s ease-out; /* Added width transition */
}

#hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li {
  position: relative;
  color: #fff;
  text-decoration: none;
}

li:hover {
  color: #fff;
}

li::before {
  content: "";
  position: absolute;
  display: block;
  width: 0; /* Set initial width to 0 */
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease, width 0.3s ease; /* Added width transition */
}

li:hover::before {
  transform: scaleX(1);
  width: 100%; /* Set width to 100% on hover */
}



.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexEnd {
  @apply flex items-center justify-end;
}